$base-color: #c6538c;
$header-bg: #4469ea;
$container-bg: #eff2f6;
$blue-color: #36C;
$slider-bar-color: #36C;
$primary-font-color: #333;
$secondary-font-color: #6e6e6e;
$tertiary-font-color: #cdcdcd;
$border-color-dark:#bbb;
$border-color:#ddd;

$border-light: 1px solid $border-color;
$border-dark: 1px solid $border-color-dark;
